<!DOCTYPE html>
<html>
<head>
	<title>Branches</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<style type="text/css">
		ol{
			background-color:red;
		}
	</style>
</head>
<body>
	<center>
	<a href="/">Home</a>
	<a href="/gallery">Gallery</a>
	<a href="/branches">Our Branches</a>
	<a href="/contact">Contact Us</a></center>
	<br>
	<hr>
	<h3>Our Branches in kenya</h3>
	<ol>
		<li>Nairobi County</li>
		<li>Mombasa County</li>
		<li>Turkana County</li>
		<li>Meru county</li>
	</ol>
	<h3>Managers for each county</h3>
	<ul>
		<li>Nairobi County Mr. Kinyanjui</li>
		<li>Mombasa County Mr. Mohamed</li>
		<li>Turkana County Mr. Johnstone</li>
		<li>Meru County Mrs. Jane</li>
	</ul>

</body>
</html>