<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		form{
		max-width:1000px;
		padding-left:400px;
		padding-right:100px;}
		
	</style>
</head>
<body>
	<center>
	<a href="/">Home</a>
	<a href="/gallery">Gallery</a>
	<a href="/branches">Our Branches</a>
	<a href="/contact">Contact Us</a></center>
	<br>
	<hr>
	<form method="post" name="contact" class="form-group">
		<fieldset>
			<input type="text" class="form-control"name="email" placeholder="Please input your email address"><br><br>
			<input type="number" name="phone_number" class="form-control" placeholder="Please input your phone number"><br> <br>
			<textarea name="msg" class="form-control">
				write your message here..........
			</textarea><br>
			<input type="submit" class="btn btn-success" name="submit" value="submit" >
			<input type="reset" class="btn btn-danger"name="Cancel" value="cancel">

		</fieldset>
	</form>

</body>
</html>