<!DOCTYPE html>
<html>
<head>
	<title>Our Gallery store</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<style type="text/css">
		
	</style>
</head>
<body>
	<center>
	<a href="/">Home</a>
	<a href="/gallery">Gallery</a>
	<a href="/branches">Our Branches</a>
	<a href="/contact">Contact Us</a></center>
	<br>
	<hr>
	<h3>Our offices</h3>
	<img src="../static/images/office.jpg" width="400px" height="300px">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<h3>Our team management</h3>
	<img src="../static/images/team.jpeg" width="400px" height="300px">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</body>
</html>